<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Twitter">
	<test name ="Health-Check">
		<classes>
			<class name="twitter.testcases.TC_HealthCheck"></class>
		</classes>
	</test>
	<test name ="Login-Tests">
		<classes>
			<class name="twitter.testcases.loginAndRegistration.LoginTests"></class>
		</classes>
	</test>
	<test name ="Console-Tests-1">
		<classes>
			<class name="twitter.testcases.console.ConsoleTests"></class>
		</classes>
	</test>
	<test name ="Console-Tests-2">
		<classes>
			<class name="twitter.testcases.console.ProfileTest"></class>
		</classes>
	</test>
	<test name ="Console-Tests-3">
		<classes>
			<class name="twitter.testcases.console.SearchTests"></class>
		</classes>
	</test>
	<test name ="Console-Tests-4">
		<classes>
			<class name="twitter.testcases.console.TweetTests"></class>
		</classes>
	</test>
</suite>